:root {
  --general-bg-color: #F7F7F7;
  --section-bg-color: #FFFFFF;
  --oxygen-blue: #08A6E4;
  --card-blue: #07ACE6;
  --menu-gray: #A5A5A5;
  --card-border-color: #E8E9ED;
  --oxygen-red-color: #FB3B64;
  --oxygen-green-color: #55DFB4;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400&display=swap');

@mixin fonts($font, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}

//Body

/*Centrar, ordenar los contenedores en columna como elementos flex y quitar másgenes de base*/
body {
  margin: 0;
  width: 100%;
}

/*Módulo header*/
#header-container {
  background-color: var(--section-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    box-shadow: rgb(0 0 0 / 29%) 0px 3px 6px;
  
}

#logo {
  margin: 0 2em;
  @include fonts("Raleway", 32px, 300);
  color: var(--oxygen-blue);
}

#cart {
  width: 15%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-count {
  @include fonts("Raleway", 20px, 300);
  color: var(--oxygen-blue);
}

#online-cart {
  margin-right: 1em;
  width: 50px;
  height: 40px;
  border: 0;
  background-color: #FFFFFF;
}

#online-cart img {
  max-width: 100%;
}

#online-cart:hover {
  cursor: pointer;
}

//Barra porcentaje de la página
#scroll-bar {
  position: absolute;
  top: 4.4em;
  height: 12%;
  background: linear-gradient(90deg, rgba(8, 166, 228, 1) 0%, rgba(85, 223, 180, 1) 100%);
}

#shop-container {
  padding-top: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "shop-menu item-cards";
}

#category-list {
  background-color: var(--general-bg-color);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-button {
  margin-bottom: 10px;
  width: 100%;
  height: 2.5em;
  border: 0;
  background: var(--general-bg-color);
  color: var(--menu-gray);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}

.filter-button:hover {
  cursor: pointer;
}

.test-container {
  margin: 5%;
  font-family: "Raleway";
  color: black;
  display: flex;
  flex-direction: column;
}

.sub-menu {
  margin-bottom: 15%;
}

#items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#items-container h2 {
  font-family: "Raleway";
  font-size: 49px;
  font-weight: 400;
}

#number-items {
  width: 2.5em;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  border-color: var(--oxygen-blue);
  border-radius: 7px;
  border-width: 2px;
  margin-bottom: 20px;
  text-align: center;
}

#item-cards {
  margin-top: 20px;
  width: 100%;
  background-color: var(--section-bg-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
  // grid-template-areas: "item item item"
  //                      "item item item"
  //                      "item item item"
  //                      "item item item";    
  justify-items: center;
  row-gap: 2em;                           
}

.item {
  margin: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--section-bg-color);
  border: 1px solid var(--oxygen-blue);
  text-align: center;
}

#item-cards h2 {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 700;
  padding: 0 5%;
}

.item p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 0 5%;
}

.item h3 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 700;
  padding: 0 5%;
}

.item img {
  width: 60%;
  margin: 20px 0;
}

.add-btn {
  margin-bottom: 20px;
  border-radius: 40px;
  width: 55%;
  max-width: 150px;
  height: 2.5em;
  border: 0;
  background: var(--oxygen-blue);
  color: var(--section-bg-color);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}

.add-btn:hover {
  cursor: pointer;
}

/*Contenedor footer*/
#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  width: 100%;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  background-color: var(--section-bg-color);
}

#footer-logo h2 {
  @include fonts("Raleway", 26px, 300);
  color: var(--oxygen-blue);
}

#footer-logo span {
  @include fonts("Open Sans", 11px, 400);
  color: var(--menu-gray);
}

#footer-logo {
  margin-left: 10%;
}

#social-media {
  margin-right: 10%;
}


@media screen and (max-width: 1000px) {

  #item-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  }
  
}